<div class="home">
    <mat-toolbar class="toolbar row">
      <div class="col-1">
        <button mat-icon-button (click)="snav.toggle()" id="menu"><mat-icon aria-hidden="false">menu</mat-icon></button>
      </div>
      <div class="col-10 text-center">
        <h3 class="top-title"></h3>
      </div>
      <div class="col-1 text-right">
        <button mat-mini-fab color="primary" (click)="logout()">
          <mat-icon>logout</mat-icon>
        </button>
      </div>
          
    </mat-toolbar>
  
    <mat-sidenav-container class="sidenav-container  col-12">
      <mat-sidenav #snav id="snav" class="col-lg-3 col-md-6 col-12 " >
        <div class=" col-9  mt-2 mx-auto">
          
          <div  class="menu-item-name col-12 p-1 m-1" >
            
            <div class="col-12"><mat-icon style="height: 75px; width: 75px; font-size: 75px;">account_circle</mat-icon></div>
            <div class="col-12">Olá, {{firstName}}! 😊 </div>
          </div>
        </div>
        <div class="col-9 mt-2 mx-auto">
            <a  class="menu-item col-12 p-0 m-1 align-items-center" routerLink="init" (click)="snav.toggle()">Home</a>
            <a  class="menu-item col-12 p-0 m-1 align-items-center" routerLink="init" (click)="snav.toggle()">Pedidos</a>
            <a  class="menu-item col-12 p-0 m-1 align-items-center" routerLink="init" (click)="snav.toggle()">Produtos</a>
            <a  class="menu-item col-12 p-0 m-1 align-items-center" routerLink="init" (click)="snav.toggle()">Clientes</a>
            <a  class="menu-item col-12 p-0 m-1 align-items-center" routerLink="init" (click)="snav.toggle()">Faturamento</a>
            <a  class="menu-item col-12 p-0 m-1 align-items-center" routerLink="users" (click)="snav.toggle()">Usuários</a>
        </div>

        <div class="card col-9 mx-auto bottom">
          <div class="card-body">
            <h3 class="card-title">EasyErp</h3>
            <p class="card-text">Gerenciador de estoque & vendas.</p>
            <!-- <a href="#" class="card-link">Contato</a>
            <a href="#" class="card-link">Another link</a> -->
          </div>
        </div>
        <!-- <button mat-fab color="primary" class="mt-2" (click)="logout()">
          <mat-icon>logout</mat-icon>
        </button> -->
      </mat-sidenav>

   

      <mat-sidenav-content class="home-content  p-0" >
        <router-outlet></router-outlet>
      </mat-sidenav-content>

    
    </mat-sidenav-container>
    <footer class="col-12 text-right p-3">
        Created with ❤ by: Luiz Almeida 
    </footer>

  </div>
  
  
  
  