<div class="row">
    
    <div class="col-lg-12 mx-auto filter-bar row  align-items-center mt-3 mb-3">
        <div class="col-lg-12 mx-auto  mt-3 mb-3 top-title">
            Usuários
    
        </div>
        <mat-form-field class="col-md-10">
            <input matInput (keyup.enter)="ordenate('filter');" [(ngModel)]="filterValue" placeholder="Buscar pelo nome">
            <button mat-button  *ngIf="filterValue" matSuffix mat-icon-button aria-label="Clear" (click)="filterValue='';ordenate('filter')">
                <i class="h4"><mat-icon>close</mat-icon></i>
            </button>
        </mat-form-field>
            <!-- <button tabindex="3" color="primary" matSuffix mat-icon-button aria-label="upload" (click)="upload()" matTooltip="Importar usuários" matTooltipPosition="left">
                <i class="h4"><mat-icon>cloud_upload</mat-icon></i>
            </button> -->
        <div class="col-md-2  text-center row"> 
            <button mat-raised-button color="primary" (click)="ordenate('filter')"  class="col text-white text-center m-1">
                <mat-icon class="m-0 p-0">search</mat-icon>
            </button>

            <button mat-raised-button color="primary" (click)="download()" matTooltip="Exportar usuários" matTooltipPosition="right" class="col text-white text-center m-1">
                <mat-icon class="m-0 p-0">cloud_download</mat-icon>
            </button>

            <button mat-raised-button color="primary" (click)="open()"  class="col text-white text-center  m-1">
                <mat-icon class="m-0 p-0">add</mat-icon>
            </button>
        </div>
        
    
        <table mat-table [dataSource]="dataSource" matSort matSortActive="userId" matSortDisableClear
            matSortDirection="desc">

            <!-- Position Column -->
            

            <ng-container matColumnDef="userId"  >
                <th mat-header-cell *matHeaderCellDef class="text-center" id="desk-only"> ID <mat-icon class="filterBullet" (click)="ordenate('users.userId')">{{ filterOptions.orderbyoption.type === 'ASC'  && filterOptions.orderbyoption.field === 'users.userId' ? 'arrow_drop_up' : 'arrow_drop_down'}}</mat-icon>
                </th>
                <td mat-cell *matCellDef="let element" class="text-center" (click)="search(element)" id="desk-only"> 
                    <span>{{element.userId}}</span>
                </td>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="name"  >
                <th mat-header-cell *matHeaderCellDef > Nome<mat-icon class="filterBullet" (click)="ordenate('users.name')">{{ filterOptions.orderbyoption.type === 'ASC'  && filterOptions.orderbyoption.field === 'users.name' ? 'arrow_drop_up' : 'arrow_drop_down'}}</mat-icon> </th>
                <td mat-cell *matCellDef="let element" (click)="search(element)" class="center" > 
                        <mat-icon style="height: 50px; width: 50px; font-size: 50px;" color="primary" *ngIf="!element.photo" id="desk-only">account_circle</mat-icon>
                        <img tyle="height: 50px; width: 50px; font-size: 50px; border-radius:50px" color="primary" *ngIf="element.photo" [src]="element.photo" id="desk-only">
                        <b class="p-3 ">{{element.name}}</b>
                </td>
            </ng-container>

             <!-- Actions Column -->
             <ng-container matColumnDef="active" >
                <th mat-header-cell *matHeaderCellDef id="desk-only"> Status </th>
                <td *matCellDef="let element" id="desk-only"> 
                    <span *ngIf="element.active==1"  class="center"><mat-icon  [style.color]="'var(--success)'">radio_button_checked</mat-icon>  <b class="m-1">Ativo</b></span>
                    <span *ngIf="element.active==0"  class="center"><mat-icon  [style.color]="'var(--gray)'">radio_button_checked</mat-icon>  <b class="m-1">Inativo</b></span>
                    
                </td>
            </ng-container>

            <!-- Mali Column -->
            <ng-container matColumnDef="email">
                <th mat-header-cell *matHeaderCellDef class="" id="desk-only"> E-mail <mat-icon class="filterBullet" (click)="ordenate('users.email')">{{ filterOptions.orderbyoption.type === 'ASC'  && filterOptions.orderbyoption.field === 'users.email' ? 'arrow_drop_up' : 'arrow_drop_down'}}</mat-icon></th>
                <td mat-cell *matCellDef="let element" (click)="search(element)" class="" id="desk-only"> 
                    <span>{{element.email}}</span>
                </td>
            </ng-container>

            <!-- Parnter Column -->
            <ng-container matColumnDef="partner" >
                <th mat-header-cell *matHeaderCellDef class="" id="desk-only"> Empresa <mat-icon class="filterBullet" (click)="ordenate('users.partnerId')">{{ filterOptions.orderbyoption.type === 'ASC'  && filterOptions.orderbyoption.field === 'users.partnerId' ? 'arrow_drop_up' : 'arrow_drop_down'}}</mat-icon></th>
                <td mat-cell *matCellDef="let element" (click)="search(element)" class="" id="desk-only"> {{element.partnerName != undefined ? element.partnerName :"▬"}}</td>
            </ng-container>
            
            <!-- Created Column -->
            <ng-container matColumnDef="created">
                <th mat-header-cell *matHeaderCellDef class="" id="desk-only"> Criado em <mat-icon class="filterBullet" (click)="ordenate('users.created')">{{ filterOptions.orderbyoption.type === 'ASC'  && filterOptions.orderbyoption.field === 'users.created' ? 'arrow_drop_up' : 'arrow_drop_down'}}</mat-icon></th>
                <td mat-cell *matCellDef="let element" (click)="search(element)" class="" id="desk-only"> 
                    <span>{{element.created | date: 'dd/MM/YYYY'}}</span>
                </td>
            </ng-container>

            
            <!-- userType Column -->
            <!-- <ng-container matColumnDef="userType" >
                <th mat-header-cell *matHeaderCellDef class=""> {{texts.msgs.userType}} <mat-icon class="filterBullet" (click)="ordenate('users.typeId')">{{ filterOptions.orderbyoption.type === 'ASC'  && filterOptions.orderbyoption.field === 'users.typeId' ? 'arrow_drop_up' : 'arrow_drop_down'}}</mat-icon></th>
                <td mat-cell *matCellDef="let element" (click)="search(element)" class=""> {{element.typeName}} </td>
            </ng-container> -->

            <!-- Actions Column -->
            <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef class="text-center "> Ações </th>
                <td mat-cell *matCellDef="let element" class="text-center "> 
                    <span [style.background-color]="'var(--primary)'" class="status">Editar</span>
                    <span [style.background-color]="'var(--error)'" class="status">Excluir</span>
                    
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>


        </table>
        
        <div class=" text-right"  *ngIf="users.data.length>0">   {{users.data.length}} de  {{users.total}}</div>
    </div>
    <!-- <div class="col-12 mx-auto p-0 center mat-paginator">
        <div class="mat-paginator-outer-container">
            <div class="mat-paginator-container">
                <div class="mat-paginator-page-size ng-star-inserted float-left pl-4 pt--2">
                    <div class="mat-paginator-page-size-label float-left">{{texts.msgs.perPage}}:</div>
                    <div class="ng-star-inserted float-left"> {{users.per_page}}</div>
                </div>
                <div class="mat-paginator-range-actions list-inline-item float-right button-content">
                    <button class="mat-icon-button mat-button-base button-next float-right" mat-icon-button="" type="button" ng-reflect-disabled="false" ng-reflect-position="above" ng-reflect-message="Next page" aria-label="Next page" [disabled]="users.next_page_url==undefined"  (click)="next()">
                        <mat-icon>keyboard_arrow_right</mat-icon>
                    </button>
                    <button class="mat-icon-button mat-button-base button-prev float-right" mat-icon-button=""type="button" ng-reflect-disabled="true" ng-reflect-position="above" ng-reflect-message="Previous page" aria-label="Previous page" [disabled]="users.prev_page_url==undefined" (click)="prev()">
                        <mat-icon>keyboard_arrow_left</mat-icon>
                    </button>
                    <div class="mat-paginator-range-label float-right mr-2  pt--2"  *ngIf="users.data?.length>0"> {{users.from}} – {{users.to}} / {{users.total}}</div>
                </div>
            </div>
        </div>
    </div> -->

<div class="col-12 mx-auto text-center mt-5">
    <button mat-raised-button type="submit" color="primary"  [disabled]="amount <= users.total" (click)="next()" class="btn-lg p-2 btn-block col-lg-2 col-md-4 col-xs-6 text-white rounded">
        <span *ngIf="!loadingPage || amount < users.total">Ver mais</span>
        <span *ngIf="loadingPage" class="spinner-border spinner-border-sm sp-login" role="status" aria-hidden="true"></span>
    </button>
</div>

<a [href]="urlFile" target="_blank" download hidden="true" id="fileDownload"></a>
<div class="position-absolute loading" *ngIf="loading">
    <span  class="spinner-border spinner-border-sm sp-login" role="status" aria-hidden="true"></span>
    
</div>